body		{	width: 90%;
			margin: 1.5em;
			padding: 1.5em;

			background: white;
			font-family:  "Arial Unicode MS", sans-serif; 
                        display : block;
			line-height : 120%;
		}

a:link		{	color : #000066;
			text-decoration : underline;		
		}
a:visited 	{	color : #663366;
			text-decoration : underline;		
		}
a:active	{	color : #CC3333;
			text-decoration : underline;		
		}

em.title	{	

		}



li	{	margin-bottom : 0.5em;
		margin-top : 0.8em;
	}


div.work { margin-left: 1.0em;
}


div.textgroup { 	border-top : thin solid black;
			border-left : thin solid black;
    padding-left: 0.4em;
}


.metadata {
    color : #aaa;
}


.symbolkey {
    margin : 2em;
    padding-left : 0.5em;
    padding-top : 0.2em;
    padding-bottom : 0.2em;
    background-color : #eee;
}